// VARIABLES
$webViewWidth: 600px;
$imgScaleSpeed: 0.3s;
$imgHoverScale: 1.025;
$highlightColour: #BD3212;



/* PROJECTS SECTION */
#portfolio {
	margin: 0 auto;
	max-width: 900px;
	padding: 0 1em 2em 1em;

	#projects {
		margin-top: 3em;
	}
	
	.project {
		margin: 3em auto 2em auto;
		max-width: 500px;
		text-align: center;
		@include transition(transform 0.5s ease);
		vertical-align: top;

		.header {
			margin: 0;
			padding: 0;

			h2 {
				color: #343434;
				font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
				font-size: 1.05em;
				font-weight: 200;
				margin-bottom: 0;
				text-align: left;
				text-transform: uppercase;
				@include transition(color 0.3s ease);

				.social {
					float: right;
					text-transform: lowercase;

					a {
						text-decoration: none;
					}

					a:hover {
						color: $highlightColour;
					}
				}
			}
		}

		img,
		.background-image {
			// background-attachment: scroll;
			// background-color: #AAA;
			// background-image: url(../images/placeholder-map.png);
			// background-position: top center;
			// background-position: top;
			// background-repeat: no-repeat;
			// background-size: cover;
			@include border-radius(5px);
			@include box-shadow(1px 1px 1px #999);
			margin: 2px 0 6px 0;
			max-height: 250px;
			opacity: 0;
			@include transition(transform $imgScaleSpeed ease);
			width: 100%;
		}

		img.visible,
		.background-image.visible {
			opacity: 1;
		}

		img:hover,
		.background-image:hover {
			transform: scale($imgHoverScale);
		}

		.description {
			color: $subtextColour;
			// font-family: 'Unica-W1G', 'Helvetica Neue', 'Helvetica', sans-serif;
			font-family: 'Georgia', serif;
			font-size: 0.9125em;
			font-weight: 200;
			line-height: 1.3em;
			margin-top: 0;
			text-align: left;
			@include transition(color 0.4s ease);
		}
	}

	.project:hover h2 {
		color: $highlightColour;
	}

	.project:hover .description {
		color: #2C2C2C;
	}
}


/* ------------------------------------------------ */
/* MEDIA QUERIES
/* ------------------------------------------------ */
@media screen and (min-width: $webViewWidth) {
	#portfolio #projects {
		margin-top: 2.5em;
		text-align: center;

		.project {
			display: inline-block;
			margin: 1em;
			max-width: 250px;
			text-align: left;
		}

		img {
			background-position: center;
		}
	}
}












